body {
    font-family: Arial;
    margin: 0;
    background-color: lightgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: silver;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: red;
}

section {
    padding: 20px;
    background-color: white;
    margin: 15px;
}

table {
    margin-top: 10px;
    width: 100%;
    border-color: black;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
}
